#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#loading {
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .searchBar input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  .searchBar button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }

}
